<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sample App</title>
      </head>
  <body>
  <h1>About</h1>
<p>
	The <a href="http://www.gmail.com">it is a gmail link</a>
</p>
</body>
</html>