<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Sample_App</title>
  </head>
  <body>
  <h1>Help</h1>
<p>
	This is the help page for log_in gmail
	<a href="http://www.google.com">google for help</a>
	sample application.

</p>
</body>
</html>