<li>
	<%#= gravatar_for user, size: 50 %>
	<%= image_tag user.image.url(:original), height: "60", width: "60" %>
	<%= link_to user.name, user %>
	<% if current_user.admin? %>
		<%= link_to "delete", user, method: :delete, data: { confirm: "you sure?" } %>
	<%end%>

</li>