<footer class="footer">
  <small>
    This <a href="http://www.google.com">Is a link for Google</a>
  </small>
  <nav>

    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
    </ul>
  </nav>
</footer>
